.page-header {
  width: 100%;
  background-color: white;
  height: 96px;
  position: fixed;
  top: 48px;
  z-index: 100;

  &.page-header__with-sidebar {
    width: calc(100% - 200px) !important;
    right: 0px;
  }

  &.page-header__tabs {
    height: 140px !important;
  }

  .page-header__breadcrumb {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.16px;
    .page-header__breadcrumb-active {
      font-weight: bold;
      color: var(--color-primary);
    }
  }
  .page-header__title {
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: var(--color-text);
  }
}
